header,
main {
  padding: 0 10px;
}
/* common classes */
nav,
.banner {
  flex-direction: column;
}

/* header start */
nav {
  padding: 30px 0;
}

/* ! justify-content isn't working here */
ul {
  margin-top: 20px;
  /*? justify-content: space-around; */
}

.banner {
  flex-direction: column-reverse;
  text-align: center;
}

.banner__title {
  padding: 0 60px;
  margin-bottom: 10px;
}

.banner__desc {
  padding: 0 30px;
  margin-bottom: 20px;
}

.banner__info button {
  align-self: center;
}
.banner__img {
  background: none;
  padding: 30px 0;
}

.banner__img img {
  width: 70%;
  margin: 0 auto;
}
/* header end */
