/* basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}

img {
  width: 100%;
  display: block;
}

header,
main {
  padding: 0 160px;
}

section {
  margin-bottom: 100px;
}

/* variables */
:root {
  --primary-color: #e02c6d;
  --dark1: #525252;
  --dark2: #787885;
}

/* common classes */
.btn {
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
/* header start here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

.nav-title {
  font-size: 24px;
}

ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 50px;
  justify-content: space-between;

  /* padding-right: 0; */
}

ul a {
  color: #3a3a3a;
}

ul a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.search,
.cart {
  font-size: 24px;
  padding-right: 0;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner__info {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__title {
  font-size: 45px;
  margin-bottom: 16px;
}

.banner__desc {
  color: var(--dark1);
  margin-bottom: 32px;
  font-weight: bold;
}

.banner i {
  margin-left: 8px;
}

.banner__info button {
  align-self: flex-start;
}

.banner__img {
  background: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 40px 0;
}
/* header end here */

/* main start here */

/* collection start */
.collection__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.collection__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.product {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.177);
  padding: 15px 10px;
  border-radius: 8px;
}
.product:hover {
  scale: 1.02;
  transition: 0.2s;
}

.product h3 {
  padding: 10px 0;
  font-size: 28px;
  font-weight: 500;
}

.product h4 {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
}

.product__rating {
  display: flex;
  padding: 5px 0;
}
.product__rating img {
  width: 16px;
  height: 16px;
}

.product__rating p {
  margin-left: 10px;
}

.collection p {
  font-family: "inter", sans-serif;
  font-weight: 600;
  color: var(--dark2);
  line-height: 1.5;
  font-size: 15px;
}

.see-more-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.see-more {
  border: none;
  color: var(--primary-color);
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.see-more i {
  margin-left: 5px;
}
/* collection end */

/* feature start  */
.feature {
  display: flex;
}

.feature__info {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature__title {
  font-size: 38px;
}

.feature__desc {
  margin: 20px 0;
}

.feature__btn {
  border-radius: 8px;
  align-self: flex-start;
}

.feature__btn i {
  margin-left: 5px;
}
/* feature end  */
/* main end here */

/* footer start here */
footer {
  background-color: #0a0826;
  color: rgb(224, 224, 224);
  text-align: center;
  padding: 80px 0;
  line-height: 1.7;
}

.footer__title {
  margin-bottom: 10px;
}

.footer__link {
  margin-top: 10px;
  word-spacing: 15px;
}

.footer__link i:hover {
  color: var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
}
/* footer end here */
