/* basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}

img {
  width: 100%;
  display: block;
}

header,
main {
  padding: 0 160px;
}

/* variables */
:root {
  --primary-color: #e02c6d;
  --background-color: #aaaaaa;
  --dark1: #6c6c6c;
  --dark2: #787885;
}
