/* basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}

img {
  width: 100%;
  display: block;
}

header,
main {
  padding: 0 160px;
}

section {
  margin-bottom: 100px;
}

/* variables */
:root {
  --primary-color: #e02c6d;
  --dark1: #525252;
  --dark2: #787885;
}

/* common classes */
.btn {
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 100px;
}
/* header start here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

.nav-title {
  font-size: 24px;
}

ul {
  display: flex;
  gap: 40px;
}

ul a {
  color: #3a3a3a;
}

ul a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.search,
.cart {
  font-size: 24px;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner__info {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__title {
  font-size: 45px;
  margin-bottom: 16px;
}

.banner__desc {
  color: var(--dark1);
  margin-bottom: 32px;
  font-weight: bold;
}

.banner i {
  margin-left: 8px;
}

.banner__info button {
  align-self: flex-start;
}

.banner__img {
  background: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* header end here */
